* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color:orange;
	font:18px 'Open Sans',Arial,sans-serif;
}

.container {
	max-width:900px;
	margin:0 auto;
	padding:0 10px;
}

.header {
	min-height:100vh;
	padding:200px 0;
	background:url(header.jpg) center/cover no-repeat fixed;
	text-align:center;
	color:#fff;
	text-shadow:13 3 115px rgba(246,246,246,0.3);
}

.header h1 {
	font-size:72px;
	margin-bottom:30px;
}

.nav {
	position:-webkit-sticky;
	position:-moz-sticky;
	position:-o-sticky;
	position:-ms-sticky;
	position:sticky;
	top:50px;
	z-index:100;
	line-height:70px;
	background-color:#4b78a0;
}

.nav ul {
	display:flex;
	justify-content:space-between;
	list-style:none;
}

.nav li {
	width:100%;
}

.nav a {
	display:block;
	text-align:center;
	color:#fff;
	text-decoration:none;
}

.nav a:hover,.nav a:focus {
	background:#375875;
}

.section {
	padding:50px 0;
	text-align:justify;
}

.section:nth-of-type(even) {
	background:#F3f3f3;
}

.section :not(:first-child) {
	margin-top:30px;
}

.footer {

	padding: 30px;
	background-color: red;
}